.main {
  display: flex;
  height: 108px;
  width: 310px;
  border-radius: 12px;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
  padding: 20px;
}
.main:hover {
  background-color: #3d3d3d;
}
.price {
  margin-top: 5px;
}

.image_div img {
  width: 65px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.heading {
  font-size: 16px;
  margin-bottom: 5px;
}
