.container {
  display: flex;
  gap: 40px;
  flex-direction: column;
  height: 100vh;
}

.card {
  margin: auto;
  height: 100vh;
  width: 50%;
}

.card img {
  width: 100%;
}

.features_div {
  display: flex;
  gap: 50px;
  background-color: green;
}

.specifications {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    gap: 40px;
    flex-direction: row;
  }
  .card {
    margin: auto;
    background-color: plum;
  }

  .card img {
    width: 100%;
  }
}
