.container {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.card {
  margin: auto;
  height: 100vh;
  width: 100%;
}

.card img {
  width: 100%;
}

.features_div {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.features_title {
  margin-bottom: 10px;
  color: var(--seconday-text);
}

.features_points_div {
  display: flex;
  gap: 10px;
}
.features_points {
  text-decoration: underline;
}

.genres {
  border-left: 1px solid red;
  padding-left: 20px;

  width: 50%;
}

.features {
  border-left: 1px solid red;
  padding-left: 20px;

  width: 50%;
}

.specifications {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    gap: 40px;
    flex-direction: row;
  }
  .card {
    margin: auto;
  }

  .card img {
    width: 100%;
  }

  .main {
    max-width: 1200px;
    margin: auto;
  }

  .heading {
    font-size: 50px;
    margin-bottom: 10px;
  }

  /* Description */

  .description {
    font-size: 18px;
  }

  /* Features Points */
  .features_div {
    margin-top: 30px;
  }

  /* accordion */
  .accordion {
    margin-top: 30px;
  }

  /* Links section */
  .links {
    margin-top: 30px;
  }
}
