.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-size: 18px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.icon {
  background-color: gray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 6px;
  font-size: 20px;
}

.icon:hover {
  background-color: #444343;
  cursor: pointer;
}

.heading_cont {
  display: flex;
  align-items: center;
  gap: 5px;
}

.arrow {
  padding-top: 2px;
  transition: 0.3s;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}
.arrow:hover {
  transform: translate(10px, 0);
}
