/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap'); */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

#img-main-src {
    width: 3rem;
}

h2,
h4,
p {
    display: inline-block;
}

p {
    font-size: 14px;
    color: #515151;
}

.fa-times {
    font-size: 20px;
    color: #515151;
}

.main-item>.first-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-item>.first-one>h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

.main-item-second-one>h4 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

.main-item-second-one-first {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 5rem;
    margin-top: 1rem;
    background-color: #F2F2F2;
    padding: 1rem;
    border-radius: 10px;
}

.main-item-second-one-first>span {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    margin-left: 1rem;
}

.main-item-second-one-first>img {
    border-radius: 10px;
}

.main-item-second-one-second {
    width: 100%;
    height: 12rem;
    margin-top: 1rem;
    background-color: #F2F2F2;
    padding: 1rem;
    border-radius: 10px;
}

.main-item-second-one-second .first-text-second {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-item-second-one-second>hr {
    margin-top: 7px;
}

.main-item-second-one-second>.third-item {
    margin-top: 7px;
}

.fourth-item {
    margin-top: 1rem;
}

.fa-credit-card,
.fa-paypal {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-left: 2rem;
    color: grey;
}

.fourth-item .first-fourth {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    height: 5rem;
    margin-top: 1rem;
    background-color: #F2F2F2;
    padding: 1rem;
    border-radius: 10px;
}

.fourth-item .first-fourth>h2 {
    display: flex;
    align-items: center;
    margin-top: -2px;
}

.fourth-item .sec-fourth>h2 {
    display: flex;
    align-items: center;
    margin-top: -2px;
}

.fourth-item .sec-fourth {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 5rem;
    margin-top: 1rem;
    background-color: #F2F2F2;
    padding: 1rem;
    border-radius: 10px;
}

input[type='radio'] {
    transform: scale(1.5);
}

.fifth-item {
    margin-top: 1rem;
}

.fifth-item .first-item-inside {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 7rem;
    margin-top: 1rem;
    background-color: #F2F2F2;
    padding: 1rem;
    border-radius: 10px;
}

.fifth-item .first-item-inside>p {
    margin-left: 1rem;
}

#need-help {
    width: 100%;
    margin-top: 1rem;
    text-align: center;
}

.button {
    text-align: center;
}

.button #buy-now {
    padding: 1rem 4rem;
    background-color: rgb(0, 116, 228);
    color: rgb(245, 245, 245);
    margin-top: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
}

 /* credit box */

 .creditBoxLarge {
    display: flex;
    flex-direction: column;
    width: 687px;
    height: 340px;
    background-color: #F5F5F5;
    border: 4px;
    border: 1px solid #0078F2;
    padding: 8px 8px;

}

.display__flex {
    display: flex;
    align-items: center;
}

#topDetails {
    display: flex;
    height: 25px;
    width: 600px;
    align-items: center;
    justify-content: space-between;

}

.topDetails p {
    color: #4E4E4E;
    font-size: 10px;

}

.cardNumber input {
    width: 600px;
    height: 54px;
    border-radius: 2px;
    box-sizing: border-box;
    border: 1px solid #CCCCCC;
    padding: 16px 16px 16px 10px;

}

.cardNumber ::-webkit-input-placeholder{
    color: #CCCCCC;
}

.imageBox_credit {
    display: flex;
}

.twilite {
    display: flex;
    width: 600px;
    margin-left: 10px;
    margin-top: 20px;

}

.twilite input {
  width: 295px;
  height: 54px;
  border-radius: 2px;
  box-sizing: border-box;
  border: 1px solid #CCCCCC;
  padding: 16px 16px 16px 10px;
}

.twilite input:nth-child(1){
    margin-right: 10px
}

.info {
    margin-top: 30px;
    font-size: 9px;
    color: #2A2A2A;
    text-align: left;
}

.finalCheck {
    display: flex;
    width: 600px;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    margin-top: 20px;
}

.finalCheck small {
    color: #2A2A2A;
    font-size: 12px;
}

[type="checkbox"] {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}