.btn {
  height: 48px;
  width: 280px;
  background: #0078f2;
  border-radius: 4px;
  color: white;
  border: none;
}
.btn:hover {
  background-color: #1085fa;
}

.title {
  font-size: 22px;
}

.upper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
/* .modal {
  height: 616px;
  width: 492px;
  align-items: center;
} */

.lower {
  /* height: 338px;
  padding: 50px;
  width: 425px; */
  width: 330px;
  height: 300px;
  padding: 30px;
  text-align: center;
  border-radius: 0px;
  background-color: #2a2a2a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.subheading {
  font-size: 14px;
}
