:root {
  --main-black: #121212;
  --light-black: #202020;
  --main-gray: #2b2b2b;
  --gray-text: rgba(255, 255, 255, 0.72);
  --main-blue: #0074e4;
  --disabled-state-opacity: 0.5;
}

.main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.card {
  height: 500px;
  width: 300px;
  color: var(--grey-text);
}

.banner {
  width: 100%;
}

.title {
  font-size: 16px;
  margin: 5px 0px;
  color: white;
}

.tagline {
  color: var(--gray-text);
  font-size: 16px;
  margin-bottom: 5px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tagline_cont {
  width: 100%;
  padding: 1%;
}

.price_div {
  margin: 5px 0px;
  display: flex;
  gap: 20px;
}
