.modal_overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 15;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.253);
}

.modal_container {
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #202020;
}

.closeIcon {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.btn {
  height: 48px;
  width: 280px;
  background: #0078f2;
  border-radius: 4px;
  color: white;
  border: none;
}
.btn:hover {
  background-color: #1085fa;
  cursor: pointer;
}

.title {
  font-size: 22px;
}

.upper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.lower {
  height: 100%;
  padding: 50px;
  width: 100%;
  padding: 30px;
  text-align: center;
  border-radius: 0px;
  background-color: #2a2a2a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 60px;
  color: white;
}

.subheading {
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .modal_overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal_container {
    max-width: 492px;
    max-height: 560px;
    /* height: 80%; */
    padding: 30px 40px 10px 40px;
    background: #202020;
  }

  .closeIcon {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
  }

  .btn {
    height: 48px;
    width: 280px;
    background: #0078f2;
    border-radius: 4px;
    color: white;
    border: none;
  }
  .btn:hover {
    background-color: #1085fa;
  }

  .title {
    font-size: 22px;
  }

  .upper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .lower {
    height: 100%;
    padding: 50px;
    width: 100%;
    padding: 30px;
    text-align: center;
    border-radius: 0px;
    background-color: #2a2a2a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    color: white;
  }

  .subheading {
    font-size: 14px;
  }
}
