.container {
  overflow-x: scroll;
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 10px;
}

.card {
  flex-shrink: 0;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    overflow-x: none;
    display: flex;
    gap: 30px;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
}
