.container {
  margin: 30px 8px 40px;
}

.cards {
  display: flex;
  overflow-x: scroll;
  margin-top: 24px;
}

.cards::-webkit-scrollbar {
  display: none;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 125ms ease-in-out;
  min-width: 231px;
  margin-right: 20px;
  background: rgb(32, 32, 32);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 24px 20px 24px;
}

.card_text {
  font-size: 18px;
}

.card:hover {
  background-color: #373737;
  cursor: pointer;
}
