.main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 1200px;
  margin: auto;
  height: 100px;
  background-color: var(--main-gray);
}

.icon {
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .icon {
    font-size: 24px;
  }

  .main {
    display: flex;
    gap: 70px;
    max-width: 1200px;
    margin: auto;
    height: 100px;
    background-color: var(--main-gray);
  }
}
