.main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px 20px;
  margin: auto;
  height: 100px;
  background-color: var(--main-gray);
  flex-wrap: wrap;
  border-radius: 4px;
}

.icon {
  font-size: 20px;
  color: var(--gray-text);
}

.icon:hover {
  color: #fff;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .icon {
    font-size: 24px;
  }

  .main {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 1200px;
    margin: auto;
    height: 100px;
    background-color: var(--main-gray);
    border-radius: 4px;
  }
}
