.container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
}

.card {
  width: calc(50% - 16px);
  margin-bottom: 28px;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    overflow-x: none;
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
  }

  .mainCardContainer {
    margin-top: 20px;
  }

  .card {
    width: calc(20% - 16px);
    margin-bottom: 28px;
  }
}
