.main_container {
  margin: 0 15px;
}

.sub_navbar {
  position: sticky;
  top: 0;
  z-index: 10;
}

@media (min-width: 768px) {
  .main {
    max-width: 1600px;
    margin: auto;
  }

  .containter {
    margin: 0 74px;
  }
}

@media (min-width: 1120px) {
  .containter {
    margin: 0 132px;
  }
}
