.mainCardContainer,
.secondaryCardContainer,
.freeCardContainer,
.miniCardContainer {
  padding: 10px;
}

.freeCardContainer {
  background-color: var(--light-black);
  border-radius: 6px;
  padding-top: 20px;
  margin-bottom: 10px;
}

.data_cont {
  margin-top: 20px;
}

.arrowIcon_div {
  display: none;
}

.minicard {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .main {
    max-width: 1600px;
    margin: auto;
  }

  .landing_container {
    margin: 0px 74px;
  }

  .heading_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mainCardContainer {
    padding: 5px;
    margin: auto;
  }

  .secondaryCardContainer {
    padding: 5px;
    margin: auto;
    margin-top: 40px;
  }

  .freeCardContainer {
    padding: 30px;
    margin: auto;
    margin-top: 40px;
    background-color: var(--light-black);
    border-radius: 6px;
    margin-bottom: 40px;
  }

  .miniCardContainer {
    border-right: 1px solid #2a2a2a;
    padding-right: 40px;
  }
  .arrowIcon_div {
    display: flex;
    gap: 10px;
  }

  .arrowicon {
    width: 25px;
    height: 25px;
    border-radius: 20px;
    background-color: #3d3d3d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.664);
  }

  .arrowicon:hover {
    background-color: #3d3d3d;
    /* border: 1px solid white; */
    color: white;
  }

  .minicard {
    display: flex;
    flex-direction: row;
    margin: auto;
    overflow-x: scroll;
    justify-content: space-between;
  }
}

@media (min-width: 1120px) {
  .landing_container {
    margin: 0 132px;
  }
}
