.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(51, 51, 51); */
}

.basegame {
  padding: 6px 10px;
  text-align: center;
  height: 30px;
  width: 100px;
  color: white;
  background: #2a2a2a;
  border-radius: 4px;
  font-size: 12px;
}

.buy_btn {
  height: 48px;
  width: 100%;
  background: var(--main-blue);
  border-radius: 4px;
  border: none;
  color: #fff;
  margin-top: 10px;
}
.buy_btn:hover {
  background-color: #1085fa;
}

.wishlist_btn {
  height: 32px;
  /* width: 310px; */
  width: 100%;
  padding: 5px, 16px, 5px, 16px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  background: none;
  color: #fff;
  margin-top: 10px;
  font-size: 12px;
  letter-spacing: 0.04em;
}

.wishlist_btn:hover {
  border: 1px solid #cccccc;
  /* border: none; */
  color: white;
  background-color: rgba(255, 255, 255, 0.226);
}
.game_info {
  margin-top: 15px;
}
.game_details {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-black);
  padding: 15px 0px;
}

.title {
  text-align: right;
}

.logo {
  background-position: center;
  margin-bottom: 10px;
}

.logo img {
  width: 100%;
}

.iconW {
  margin-right: 10px;
}

.iconA {
  font-size: 18px;
}

.price {
  margin-top: 10px;
  margin-bottom: 20px;
}

.upper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(51, 51, 51); */
  }

  .basegame {
    padding: 6px 10px;
    text-align: center;
    height: 30px;
    width: 100px;
    color: white;
    background: #2a2a2a;
    border-radius: 4px;
    font-size: 12px;
  }

  .buy_btn {
    height: 48px;
    width: 100%;
    background: var(--main-blue);
    border-radius: 4px;
    border: none;
    color: #fff;
    margin-top: 10px;
  }
  .buy_btn:hover {
    background-color: #1085fa;
  }

  .wishlist_btn {
    height: 32px;
    /* width: 310px; */
    width: 100%;
    padding: 5px, 16px, 5px, 16px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background: none;
    color: #fff;
    margin-top: 10px;
    font-size: 12px;
    letter-spacing: 0.04em;
  }

  .wishlist_btn:hover {
    border: 1px solid #cccccc;
    /* border: none; */
    color: white;
    background-color: rgba(255, 255, 255, 0.226);
  }
  .game_info {
    margin-top: 15px;
  }
  .game_details {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-black);
    padding: 15px 0px;
  }

  .title {
    text-align: right;
  }

  .logo {
    background-position: center;
    margin-bottom: 10px;
  }

  .logo img {
    width: 100%;
  }

  .iconW {
    margin-right: 10px;
  }

  .iconA {
    font-size: 18px;
  }

  .price {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .upper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }
}
