.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.basegame {
  padding: 6px 10px;
  text-align: center;
  height: 30px;
  width: 100px;
  color: white;
  background: #2a2a2a;
  border-radius: 4px;
  font-size: 12px;
}

.buy_btn {
  height: 48px;
  width: 100%;
  background: var(--main-blue);
  border-radius: 4px;
  border: none;
  color: #fff;
  margin-top: 10px;
  font-weight: 500;
  cursor: pointer;
}

.buy_btn:hover {
  background-color: #1085fa;
}

.in_library_btn {
  height: 46px;
  width: 100%;
  padding: 5px, 16px, 5px, 16px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  background: none;
  color: #fff;
  margin-top: 10px;
  font-size: 12px;
  letter-spacing: 0.04em;
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  font-weight: 500;
  opacity: 0.7;
  cursor: pointer;
}

.in_library_btn > img {
  color: white;
}

.wishlist_btn {
  font-weight: 500;
  cursor: pointer;
  height: 32px;
  width: 100%;
  padding: 5px, 16px, 5px, 16px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  background: none;
  color: #fff;
  margin-top: 10px;
  font-size: 12px;
  letter-spacing: 0.04em;
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
}

.wishlist_btn > img {
  height: 20px;
}

.wishlist_btn:hover {
  border: 1px solid #cccccc;
  color: white;
  background-color: rgba(255, 255, 255, 0.226);
}

.game_info {
  margin-top: 15px;
}

.game_details {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-black);
  padding: 15px 0px;
}

.title {
  text-align: right;
}

.logo {
  background-position: center;
  margin-bottom: 10px;
}

.logo img {
  width: 100%;
}

.iconW {
  margin-right: 10px;
}

.iconA {
  font-size: 18px;
}

.price {
  margin-top: 10px;
  margin-bottom: 20px;
}

.upper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.modal_overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  backdrop-filter: blur(5px);
}

.modal_container {
  width: 100%;
  height: 100%;
  background: white;
  color: black;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  gap: 20px;
}

.loading > p {
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
}

.loading > img {
  height: 98px;
}

@media screen and (min-width: 768px) {
  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(51, 51, 51); */
  }

  .modal_overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal_container {
    width: 78%;
    height: 94%;
    background: white;
    color: black;
  }

  .basegame {
    padding: 6px 10px;
    text-align: center;
    height: 30px;
    width: 100px;
    color: white;
    background: #2a2a2a;
    border-radius: 4px;
    font-size: 12px;
  }

  .buy_btn {
    height: 48px;
    width: 100%;
    background: var(--main-blue);
    border-radius: 4px;
    border: none;
    color: #fff;
    margin-top: 10px;
  }
  .buy_btn:hover {
    background-color: #1085fa;
  }

  .wishlist_btn {
    height: 32px;
    /* width: 310px; */
    width: 100%;
    padding: 5px, 16px, 5px, 16px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background: none;
    color: #fff;
    margin-top: 10px;
    font-size: 12px;
    letter-spacing: 0.04em;
  }

  .wishlist_btn:hover {
    border: 1px solid #cccccc;
    /* border: none; */
    color: white;
    background-color: rgba(255, 255, 255, 0.226);
  }
  .game_info {
    margin-top: 15px;
  }
  .game_details {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-black);
    padding: 15px 0px;
  }

  .title {
    text-align: right;
  }

  .logo {
    background-position: center;
    margin-bottom: 10px;
  }

  .logo img {
    width: 100%;
  }

  .iconW {
    margin-right: 10px;
  }

  .iconA {
    font-size: 18px;
  }

  .price {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .upper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }
}
