.main{
    width:100%;
    height:1000px;
    background-color:rgb(70, 67, 67);
}
.topbar{
    margin-left: 12%;
    display:flex;
   
}
.search{
    width:170px;
    height: 45px;
    border-radius:100px;
    background-color: #202020;
    margin-top:50px;
}
.icon{
    height: 20px;
    margin-top: 12px;
    margin-left: 17px;
    color: white;
}
.searchword{
    margin-left:55px;
    color: grey;
    margin-top:-20px;
}
.tags{
    display:flex;
    color:grey;
    gap:40px;
    margin-top:60px;
    margin-left:30px;
}
.tags> a:hover{
    color:white;
}
.name{
    margin-left: 12.5%;
    color: white;
    margin-top:30px;
    font-size: 25px;
}
.line{
    width:76%;
    height:1px;
    background-color:grey;
    margin-left:12%;
    margin-top:17px;
}
.imgbox{
    width: 270px;
    height: 150px;
    margin-left:12%;
    margin-top:17px;
}
.day{
    margin-left:450px;
    margin-top: -150px;
    color:white;
}
.intro{
    margin-left: 450px;
    margin-top:10px;
    color:white;
}
.read{
    margin-left:450px;
    color:white;
    margin-top:70px;
}
.bar2{
    width:80px;
    height:1px;
    background-color:grey;
    margin-left:450px;
}
.bar2:hover{
  background-color:white;
}
.imgbox :hover{
    background-color:grey;
}