.main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: auto;
  background-color: var(--main-gray);
  padding: 40px;
  border-radius: 4px;
}

.details_heading {
  color: var(--seconday-text);
  margin-bottom: 20px;
}
.content_title {
  color: var(--seconday-text);
  margin-bottom: 8px;
}
.content {
  display: flex;
  gap: 80px;
  padding-bottom: 40px;
  border-bottom: 1px solid #494747;
  flex-direction: column;
}

.heading {
  border-bottom: 1px solid #494747;
}

.recommended,
.minimum {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.lang_div {
  padding-bottom: 20px;
  border-bottom: 1px solid #494747;
}

.lang {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  color: var(--seconday-text);
}

.terms {
  text-align: center;
}

.info {
  margin-top: 10px;
  color: var(--seconday-text);
}

.languages {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  flex-wrap: wrap;
}

.lang_heading {
  background-color: #3d3d3d;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  padding: 4px 5px;
  border-radius: 4px;
  min-width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
}

.audio,
.text {
  margin-bottom: 30px;
  margin-top: 20px;
}

.audio,
.text p {
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .main {
    display: flex;
    max-width: 1200px;
    margin: auto;
    background-color: var(--main-gray);
  }

  .details_heading {
    color: var(--seconday-text);
    margin-bottom: 20px;
  }
  .content_title {
    color: var(--seconday-text);
    margin-bottom: 8px;
  }
  .content {
    display: flex;
    gap: 48px;
    padding-bottom: 40px;
    border-bottom: 1px solid #494747;
    flex-direction: row;
  }

  .heading {
    border-bottom: 1px solid #494747;
  }

  .recommended,
  .minimum {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .lang_div {
    padding-bottom: 20px;
    border-bottom: 1px solid #494747;
  }

  .lang {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    color: var(--seconday-text);
  }

  .terms {
    text-align: center;
  }

  .info {
    margin-top: 10px;
    color: var(--seconday-text);
  }

  .languages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    gap: 27px;
    margin-top: 30px;
  }
}

.lang_heading {
  font-size: 12px;
}
