.card {
  background-color: var(--main-gray);
  width: 100%;
  border-radius: 4px;
  flex-shrink: 0;
}

.container {
  overflow-x: scroll;
  display: flex;
  gap: 20px;
  width: 100%;
  margin-top: 10px;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    overflow-x: none;
    display: flex;
    gap: 30px;
    justify-content: center;
  }

  .card {
    flex-shrink: 1;
  }
}
