:root {
  --main-black: #121212;
  --light-black: #202020;
  --main-gray: #2b2b2b;
  --gray-text: rgba(255, 255, 255, 0.72);
  --main-blue: #0074e4;
  --disabled-state-opacity: 0.5;
  --seconday-text: rgba(245, 245, 245, 0.6);
  --hover: rgba(255, 255, 255, 0.836);
}

.card {
  width: 300px;
  text-decoration: none;
}

.title {
  font-size: 20px;
  margin: 5px 0px;
  color: white;
}

.description {
  color: var(--gray-text);
  font-size: 12px;
  margin-bottom: 5px;
  line-height: 20px;
}

.price {
  margin-top: 20px;
}

.discount {
  width: 60px;
  height: 30px;
  background-color: #0078f2;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 2px;
  border-radius: 4px;
  font-size: 10px;
  text-align: center;
}

.mrp {
  text-decoration: line-through;
  color: var(--gray-text);
  font-size: 20px;
}

.banner {
  width: 100%;
  border-radius: 20px;
}

.image_div {
  position: relative;
  display: inline-block;
}

.image_div .icon {
  display: block;
}

.icon {
  padding-top: 7px;
  padding-right: 7px;
  position: absolute;
  right: 0;
  top: 0;
}

.icon img {
  color: #fff;
}

.content {
  padding: 0px 20px;
}

@media screen and (min-width: 768px) {
  .card {
    width: 580px;
    padding-top: 15px;
    margin-bottom: 10px;
  }

  .content {
    padding: 0px 30px;
  }

  .title {
    font-size: 20px;
    margin: 30px 0px 10px 0px;
  }

  .description {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .banner {
    width: 100%;
    border-radius: 10px;
  }

  .image_div {
    background: rgb(255, 255, 255);
    height: 326px;
    overflow: hidden;
    border-radius: 13px;
  }

  .banner {
    opacity: 1;
    transition: 0.3s;
  }

  .banner:hover {
    opacity: 0.9;
  }

  .image_div .icon {
    display: block;
  }

  .icon {
    padding-top: 7px;
    padding-right: 7px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .icon {
    color: #fff;
    /* display: none; */
  }

  .icon:hover {
    color: #fff;
    display: none;
  }
}
